.exercise-create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #d5bf86;
}

.exercise-form-container {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    background: #f1f0cc;
    margin: 2rem 0;
}

.exercise-create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-muscle-group-btn {
    color: white;
    background-color: #4ac1f7;
    display: flex;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    width: 100%;
    max-width: 200px;
    align-self: center;
}

.new-muscle-group-btn:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-muscle-group-btn:active {
    background-color: #ddd;
    transform: translateY(1px);
}

.exercise-save-btn {
    display: flex;
    justify-content: center;
    background: #4CAF50;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    width: 100%;
    max-width: 200px;
    align-self: center;
}

.exercise-save-btn:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.exercise-save-btn:active {
    background-color: #ddd;
    transform: translateY(1px);
}