.main-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 152px);
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #d5bf86;
}

.auth-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.workout-create-btn {
    color: white;
    background-color: #4ac1f7;
    display: flex;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    width: 100%;
    max-width: 200px;
    align-self: center;
}

.workout-create-btn:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workout-create-btn:active {
    background-color: #ddd;
    transform: translateY(1px);
}

.workout-cards-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    background-color: #d5bf86;
    padding: 30px 20px;
    box-sizing: border-box;
}

.workout-card {
    background-color: #fffce8;
    border: 1px solid #e0d7b3;
    border-radius: 12px;
    padding: 1.5rem;
    min-height: 400px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.workout-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card-contend {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.card-contend ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.workout-date {
    margin: 0;
    font-size: 1.3rem;
    color: #6b4f2c;
}

.workout-type {
    margin: 0.5rem 0 1rem;
    font-size: 1.1rem;
    color: #8a663f;
}

.exercise-list h4 {
    margin-bottom: 0.5rem;
    color: #3d3d3d;
}

.exercise-list ul {
    padding-left: 1.2rem;
    margin: 0;
    list-style-type: disc;
    color: #444;
}

.exercise-list li {
    margin-bottom: 4px;
}
