.content-container {
    background-color: #d5bf86;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner img {
    background-image: url("/static/images/homepage/home-banner.jpg");
    width: 100%;
    height: 400px;
}
