.nav-bar {
    background-color: #3f0d12;
    color: #f1f0cc;
    padding: 30px 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container a {
    font-size: 18px;
}

.nav-btn {
    color: #f1f0cc;
    padding: 8px 16px;
    display: inline-block;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.profile-pic-container a img {
    max-width: 50px;
    border-radius: 50%;
}