.nav-bar {
    background-color: #3f0d12;
    color: #f1f0cc;
    padding: 60px 20px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.buttons-container a {
    font-size: 26px;
    margin: 15px;
}
