{% extends 'common/base.html' %}
{% load placeholder_filter %}
{% load static %}
{% block title %}Create Muscle Group{% endblock %}

{% block content %}
    <div class="mg-create-container">
        <div class="mg-form-container">
            <form method="post" action="" class="mg-create-form">
                {% csrf_token %}

                {% for field in form %}
                    <p class="error">{{ field.errors }}</p>
                    <div class="label-input">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                    <br>
                {% endfor %}

                <div class="btn-box">
                    <button class="muscle-group-save-btn" type="submit">Create</button>
                    <a href="javascript:history.back()" class="create-muscle-group-back-btn">Back</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
