{% extends 'common/base.html' %}
{% load static %}
{% block title %}Create Workout{% endblock %}

{% block content %}
    <div class="workout-create-container">
        <div class="workout-form-container">
            <form method="post" class="workout-create-form">
                {% csrf_token %}

                {% for field in form %}
                    <p class="error">{{ field.errors }}</p>
                    <div class="label-input">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                    <br>
                {% endfor %}
                <h4>Your exercises:</h4>
                <div class="available-exercises">
                    {% if not all_exercises %}
                        <p>You have no exercises yet</p>
                    {% else %}
                        <div>
                            {% for exercise in all_exercises %}
                                {{ exercise.name }}
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>

                <a href="{% url 'create-exercise' %}" class="new-exercise-btn">Add New Exercise</a>

                <div class="btn-box">
                    <button class="save-btn" type="submit">Create</button>
                    <a href="javascript:history.back()" class="workout-create-back-btn back-btn">Back</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}