{% extends 'common/base.html' %}
{% load static %}

{% block title %}Delete Profile{% endblock %}

{% block content %}

    <div class="delete-box-wrapper">
        <div class="delete-confirmation-box">
            <p>Do you really want to delete your profile?</p>
            <div class="choice-btn-box">
                <a href="{% url 'delete' pk=user.pk %}" class="yes-btn">Yes</a>
                <a href="#" class="no-btn">No</a>
            </div>
        </div>
    </div>

    <script src="{% static 'js/accounts/delete-account-confirmation.js' %}"></script>
{% endblock %}