{% extends 'common/base.html' %}
{% load static %}


{% block content %}
    <div class="profile-details-container">
        <div class="profile-card">
            <h1>Profile Details</h1>

            <div class="profile-image">
                {% if object.profile.profile_picture %}
                    <img src="{{ object.profile.profile_picture.url }}" alt="{{ object.username }}'s profile picture">
                {% else %}
                    <img src="{% static 'images/default-profile-pic/default-profile-image2.jpeg' %}" alt="">
                {% endif %}
            </div>

            <div class="profile-info">
                <div class="info-item">
                    <span class="label">Username:</span>
                    <span class="value">{{ object.profile.username|default:"empty" }}</span>
                </div>

                <div class="info-item">
                    <span class="label">First name:</span>
                    <span class="value">{{ object.profile.first_name|default:'empty' }}</span>
                </div>

                <div class="info-item">
                    <span class="label">Last name:</span>
                    <span class="value">{{ object.profile.last_name|default:'empty' }}</span>
                </div>

                <div class="body-info">
                    <div class="info-item">
                        <span class="label">Height:</span>
                        <span class="value">{{ object.profile.height }}</span>
                    </div>

                    <span class="border"></span>

                    <div class="info-item">
                        <span class="label">Weight:</span>
                        <span class="value">{{ object.profile.body_weight }}</span>
                    </div>
                </div>

                <div class="profile-actions">
                    <a href="{% url 'edit' pk=user.pk %}" class="profile-btn edit-btn">Edit Profile</a>
                    <a href="{% url 'index' %}" class="profile-btn back-btn">Back to Dashboard</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}