{% extends 'common/base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block title %}Register User{% endblock %}

{% block content %}
    <div class="register-page-container">
        <div class="register-form-container">

            <form method="post" class="register-form">
                <h1>Register</h1>

                {% csrf_token %}

                <div class="field">
                    <h4 class="field-title">Email</h4>
                    {{ form.email|placeholder:"Email" }}
                    {{ form.email.errors }}
                </div>

                <div class="field">
                    <h4 class="field-title">Password:</h4>
                    {{ form.password1|placeholder:"Enter new password" }}
                    {{ form.password1.errors }}
                </div>

                <div class="field">
                    <h4 class="field-title">Confirm Password:</h4>
                    {{ form.password2|placeholder:"Confirm password" }}
                    {{ form.password2.errors }}
                </div>

                <button type="submit" class="register-form-btn">Submit</button>
            </form>

        </div>
    </div>
{% endblock %}