{% extends 'common/base.html' %}
{% load placeholder_filter %}
{% load static %}

{% block title %}Login Page{% endblock %}

{% block content %}
    <div class="login-page-container">
        <div class="login-form-container">
            <form method="post" class="login-form">
                {% csrf_token %}
                <h1>Login</h1>

                <div class="field">
                    <h4 class="filed-title">Enter your Email:</h4>
                    {{ form.username|placeholder:"Email" }}
                    {{ form.username.errors }}
                </div>

                <div class="field">
                    <h4 class="filed-title">Enter your password:</h4>
                    {{ form.password|placeholder:"Password" }}
                    {{ form.password.errors }}
                </div>

                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>

        <div class="second-option">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>

{% endblock %}
