.login-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d5bf86;
    gap: 60px;
    font-size: 24px;
}

.login-form-container {
    background-color: #f1f0cc;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    padding: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.field h4 {
    font-size: 18px;
}

.field input {
    padding: 10px;
    width: 400px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.field input:hover {
    background-color: #e0f7fa;
}

.login-form button {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 22px;

    padding: 15px;
    width: 150px;
}