{% extends 'common/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="main-container">
        <a href="{% url 'create-workout' %}" class="workout-create-btn">Start New Workout</a>

        {% if user.is_authenticated %}
            <div class="auth-container">
                {% if all_workouts %}
                    <p>User Is Authenticated</p>

                    {% for workout in all_workouts %}
                        <p>{{ workout.date }}</p>

                        {% if workout.exercises.exists %}
                            <ul>
                                {% for exercise in workout.exercises.all %}
                                    <li>{{ exercise.name }}{{ exercise.exercise_type }}</li>
                                {% endfor %}
                            </ul>

                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% else %}
            <div class="not-auth-container">
                <p>User Is Not Authenticated</p>
            </div>
        {% endif %}
    </div>

{% endblock %}