{% extends 'common/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="main-container">

        {% if user.is_authenticated %}
            <div class="auth-container">
                {% if all_workouts %}
                    <div class="workout-cards-container">
                        {% for workout in all_workouts %}

                            <div class="workout-card">
                                <p>{{ workout.date }}</p>
                                {% if workout.exercises.exists %}
                                    <ul>
                                        {% for exercise in workout.exercises.all %}
                                            <li>{{ exercise.name }}{{ exercise.exercise_type }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="not-auth-container">
                <p>User Is Not Authenticated</p>
            </div>
        {% endif %}

        <a href="{% url 'create-workout' %}" class="workout-create-btn">Start New Workout</a>
    </div>

{% endblock %}