{% extends 'common/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="main-container">

        {% if user.is_authenticated %}
            <h1>Your Resend Workouts:</h1>
            <div class="auth-container">
                {% if all_workouts %}
                    <div class="workout-cards-container">
                        {% for workout in all_workouts %}

                            <div class="workout-card" data-workout-id="{{ workout.id }}">
                                <h2 class="workout-date">{{ workout.date }}</h2>
                                <h3 class="workout-type">{{ workout.workout_type }}</h3>

                                <div class="card-contend">
                                    {% if workout.exercises.exists %}
                                        <div class="exercise-list">
                                            <h4>Exercises:</h4>
                                            <ul>
                                                {% for exercise in workout.exercises.all %}
                                                    <li>{{ exercise.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        <h4>No exercises added</h4>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="not-auth-container">
                <p>User Is Not Authenticated</p>
            </div>
        {% endif %}

        <a href="{% url 'create-workout' %}" class="workout-create-btn">Start New Workout</a>
    </div>

    <script src="{% static "/js/common/home-page.js" %}"></script>

{% endblock %}