{% load static %}

<div class="nav-bar">
    <div class="nav-container">

        <div class="logo">
            <a href="{% url 'home-page' %}">
                <p>LOGO</p>
            </a>
        </div>
        <div class="profile-menu-container">
            {% if user.is_authenticated %}

                <a href="#" class="profile-link">
                    <img src="
                        {% if user.profile.profile_picture %}
                            {{ user.profile.profile_picture.url }}
                        {% else %}
                            {% static 'images/default-profile-pic/default-profile-image2.jpeg' %}
                        {% endif %}"
                         alt="{{ user.profile.username|default:user.email }}'s profile"
                         class="profile-pic">
                </a>

                <div class="dropdown-content">
                    <a href="{% url 'details' pk=user.pk %}">View Profile</a>
                    <form method="post" class="dropdown-logout-form" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                </div>

            {% else %}
                <div class="buttons-container">
                    <a href="#" class="nav-btn">Home</a>
                    <a href="#" class="nav-btn">About</a>
                    <a href="#" class="nav-btn">Contact Us</a>
                    <a href="{% url 'login' %}" class="nav-btn">Login</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="{% static "/js/nav-bar/profile-dropdown-menu.js" %}"></script>