{% load static %}

<div class="nav-bar">
    <div class="nav-container">
        <div class="logo">
            <img src="{% static 'images/logo.jpeg' %}" alt="logo">
        </div>
        {% if user.is_authenticated %}

            <div class="profile-pic">
                <a href="#" class="profile-link">
                    {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}"
                             alt="Profile Picture"
                             class="nav-profile-pic">
                    {% else %}
                        <img src="{{ MEDIA_URL }}profile_pictures/default-profile-image.webp"
                             alt="Default Profile Picture"
                             class="nav-profile-pic">
                    {% endif %}
                </a>
            </div>

        {% else %}
            <div class="buttons-container">
                <a href="#" class="btn btn-primary login-btn">Login</a>
                <a href="{% url 'register' %}" class="btn btn-primary register-btn">Register</a>
            </div>
        {% endif %}
    </div>
</div>