{% load static %}

<div class="nav-bar">
    <div class="nav-container">

        <div class="logo">
            <a href="{% url 'index' %}">
                <p>LOGO</p>
            </a>

        </div>
        {% if user.is_authenticated %}

            <div class="profile-pic">
                <a href="#" class="profile-link">
                    {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}"
                             alt="Profile Picture"
                             class="nav-profile-pic">
                    {% else %}
                        <img src="{{ MEDIA_URL }}profile_pictures/default-profile-image.webp"
                             alt="Default Profile Picture"
                             class="nav-profile-pic">
                    {% endif %}
                </a>
            </div>

        {% else %}
            <div class="buttons-container">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact Us</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
        {% endif %}
    </div>
</div>