.main-container {
    background: url("static/images/homepage/home-background.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

